

html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.conteiner {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

header {
  background-color: black;
}

header .conteiner {
  background-color: black;
  display: flex;
  align-items: center;
  }

#logo {
  height: 1.5rem;
  padding-right: .5rem;
  padding-left: 1rem;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

#logo img {
  height: 1.5rem;
}

#title h2 {
  padding-top: .66rem;
  padding-bottom: .66rem;
  margin: 0;
}

#image-box {
  background-image: url(../images/moto.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  display: flex;
}

.text-box {
  background-color: black;
  margin-top: 9rem;
  margin-bottom: auto;
  padding: 2rem 3rem;
  width: 20rem;
}

.text-box h2 {
  margin-bottom: .25rem;
  font-size: 1rem;
  font-weight: bold;
}

.text-box h1 {
  font-size: 2rem;
  font-weight: bold;
}

#big-menu {
  background-color: firebrick;
}

#big-menu .conteiner {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
}

#small-menu .conteiner {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

#products .conteiner {
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.product-img {
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 9rem;
}

p {
  background-color: black;
}

.product p {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  border: 4px solid black;
}

#location-hours .conteiner {
  justify-content: space-between;
  margin-top: 3rem;
}

.lh-box {
  width: 35%;
}

.lh-box .text {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.lh-box .number {
  color: black;
  background-color: white;
  margin: 0;
}

footer {
  background-color: black;
}

footer .conteiner {
  margin-top: 4rem;
  padding: 5rem 0;
}

@media only screen and (max-width: 1024px) {
.conteiner {
  width: 100%;
}

#small-menu .conteiner {
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: inline-flex;
  justify-content: center;
}

#big-menu {
  display: none;
}

#big-menu .conteiner {
  display: none;
}

.product {
  width: 47%;
}

#hide-1024.product {
  display: none;
}
}

@media only screen and (max-width: 470px) {
#image-box {
  height: 15rem;
}

.text-box {
  margin-top: 10rem;
  margin-bottom: auto;
  padding: 1rem 2rem;
}

.text-box h2 {
  margin-bottom: .25rem;
  font-size: .75rem;
}

.text-box h1 {
  font-size: 1rem;
}

.product {
  width: 90%;
}

#products .conteiner {
  justify-content: center;
}

#hide-470.product {
  display: none;
}

.lh-box {
  width: 90%;
}

#location-hours .conteiner {
  flex-direction: column;
  align-items: center;
}

#location {
  padding-bottom: 0.5rem;
}

div#copyright {
  justify-content: center;
}
}
